.mmi{
    display: flex;
    padding: 10px 25px;
    background-color: white;
    &-pname-pweight-wr{
        display: flex;
        align-items: flex-end;
    }
    &__pweight{
        line-height: 18px;
        font-size: 12px;
        margin-left: 10px;
    }
    &__img-wr{
        position: relative;
        width: 35%;
        height: 130px;
       
        .pizzablock__isNew{
            position: absolute;
            top: 0;
            left: 0;
        }
        .pizzablock__isHit{
            position: absolute;
            top: 0;
            right: 0; 
        }
        .pizzablock__special{
            position: absolute;
            bottom: 0;
            right: 0; 
        }
        .pizzablock__isHot{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__sec-wr{
        padding-left: 10px;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__pname{
        font-size: 16px;
    }
    &__pdescr{
        text-transform: lowercase;
        overflow-wrap: break-word;
        font-size: 12px;
    }
    &__info-wr{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    &__choose{
        padding: 5px 18px;
        background-color: var(--lgreen);
        border-radius: 5px;
        border: 0.5px solid gray;
        font-size: 16px;
        &:active{
            background-color: var(--gray);
        }
    }
    &__price{
        font-size: 16px;
        font-weight: bold;
    }
}