.pizzablock__pizza-calories {
    cursor: pointer;
    svg{
        transition: all .2s;
    }
    svg:hover{
        fill: #9E0809;
    }
}

.pizzablock__isNew, .pizzablock__isHit{
    font-size: 10px;
    background-color: var(--red);
    color: white;
    padding: 1px;
}
.pizzablock__people-man{
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: -2px;
    margin-left: 10px;
}
.pizzablock__people{
    font-size: 12px;
}
.pizzablock__special{
    font-size: 10px;
    padding: 1px;
    background-color: #bfefbb;
    color: black;
}

.modal__borts{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 5px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 5px;
    filter: drop-shadow(0px 0px 1px gray);
    margin-top: 8px;
}

.modal__borts-item-act{
    border: .5px solid gray;
    background-color: var(--lgreen);
    
}
.modal__borts-item{
    font-size: 16px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
    border-radius: 5px;
    &:hover{
        
        border: .5px solid gray;
    }
    span{
        font-size: 12px;
        line-height: 14px;
    }
}

/* .pizzablock__pizza-item {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: .5px solid #000;
    position: relative;
}

.pizzablock__pizza-img {
    width: 100%;
    height: 240px;
    -o-object-fit: contain;
    object-fit: contain;
}

.pizzablock__more-info {
    display: flex;
    justify-content: space-between
}

.pizzablock__pizza-title-info-wrap {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pizzablock__pizza-title {
    text-transform: uppercase
}

.pizzablock__pizza-calories {
    border: .5px solid gray;
    border-radius: 100px;
    padding: 2px;
    cursor: pointer
}

.pizzablock__pizza-calories-popup{
        border: .5px solid gray;
        width: max-content;
        padding: 30px 5px;
        position: absolute;
        right: 0;
        background-color: whitesmoke;
    }

.pizzablock__pizza-descr {
    margin-top: 3px
}

.pizzablock__change-ingr {
    margin-top: 5px;
    text-align: center
}

.pizzablock__change-ingr span {
    cursor: pointer;
    text-decoration: underline
}

.pizzablock__choose-bort {
    margin-top: 8px;
    cursor: pointer;
    width: -webkit-max-content;
    width: max-content;
    border: .5px solid #000;
    border-radius: 20px;
    padding: 5px;
    transition: all .3s
}

.pizzablock__choose-bort:hover {
    background-color: gray
}

.pizzablock__order-details {
    margin-top: 8px;
    display: flex;
    justify-content: space-between
}

 */