
.afterOrder-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.692);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    .afterOrder-modal__content{
        position: relative;
        width: 50%;
        max-width: 800px;
        height: 50%;
        max-height: 500px;

        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        
        &-thx{
            background: no-repeat center / cover url(../../../assets/thx.jpg);
            width: 100%;
            height: 100%;
            padding: 10px;
            border: .5px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border-radius: 20px;
        }
        &-err{
            background-color: var(--lred);
            width: 100%;
            height: 100%;
            padding: 10px;
            border: .5px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center; 
            border-radius:  20px;
        }
        

        &-btn{
            margin-top: 30px;
            width: 200px;
           border: .5px solid gray;
            border-radius: 5px;
            background-color: var(--lgreen);
            padding: 3px;
        }
    }
}