.about{
    .container {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__present-img{
        display: block;
        margin: 20px 0;
    }
    &__title{
        font-size: 22px;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }
    &__present-img{
            border-radius: 5px;
            filter: drop-shadow(0px 0px 3px gray);
    }
}